.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  background-size: cover;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .bg-container {
    background-image: linear-gradient(to right, #1d976c, #93f9b9);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }
}

.image {
  width: 40%;
}

.count-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .count-container {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.input-box {
  background-color: transparent;
  border-color: #ffffff;
  width: 250px;
  height: 30px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

.letter-count-box {
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background-color: #ffffff;
  color: #219a6f;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}

.description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
}
